.members {
    padding: 57px 0 150px 0;
}

.team {
    text-align: center;
    margin-bottom: 60px ;
}

.team__title {
    color: var(--color-brown);
    font-family: var(--font-family-quicksand);
}

.team__text {
    color: var(--color-pink);
    font-family: var(--font-family-sunrise);
    font-size: 30px;
    font-weight: 300;
}

.members__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    background-color: aqua;
}

.members__card {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 558px;
    height: 380px;  
}

.members__card--position {
    justify-content: flex-start;
}

.members__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 393px;
    height: 380px;
    background: var(--color-blue);
    border-radius: 5px;
    padding: 0 20px;

}

.members__content--bg {
    background: var(--color-olive);
}

.member__content--position {
    justify-content: flex-start;
}

.members__details {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.members__name {
    color: var(--color-white);
    font-family: var(--font-family-quicksand);
    font-size: 30px;
    font-weight: 700;
}

.members__profession {
    color: var(--color-brown);
    font-family: var(--font-family-quicksan);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 14px;
}

.members__description {
    color: var(--color-brown);
    font-family: var(--font-family-quicksan);
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

.members__social-icon {
    width: 100px;
    height: 35px;
}

.members__avatar {
    width: 330px;
    height: 330px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 25px;
}

.members__avatar--position {
    position: absolute;
    left: unset;
    right: 0;
}

@media (max-width: 1262px) {
    .members {
        padding: 57px 0 57px 0;
    }
    
    .members__cards {
        justify-content: center;
        padding: 0 20px;
    }
    
    .members__card:nth-of-type(3) {
        order: 1;
    }

    .members__card:nth-of-type(2) {
        order: 2;
    }

    .members__card:nth-of-type(4) {
        order: 3;
    }

    .members__content--blue {
        background: var(--color-blue);
    }

    .members__content--olive {
        background: var(--color-olive);
    }

}

@media (max-width: 610px) {
    .members {
        padding: 0;
    }

    .members__cards {
        gap: 30px;
    }

    .members__card {
        transform: scale(0.7);
        justify-content: center;
        width: 446px;
        height: 304px; 
    }

    .members__avatar {
        top: -220px;
        left: unset;
        right: unset;
        transform: scale(0.7);
        box-shadow: 0px 0px 18px -2px #1D6B5F;
    }

    .members__content {
        padding-top: 50px;
        justify-content: flex-start;
        width: 314px;
        height: 304px;
    }
}
