.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 400px;
    background-image: url("../images/slider/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__title {
    color: var(--color-white);
}

.slider__link {
    font-family: var(--font-family-sunrise);
    font-size: 30px;
    font-weight: 300;
    color: var(--color-white);
}

@media (max-width: 800px) {
    .slider {
        min-height: 176px;
        background-image: url("../images/slider/background-medium.jpg");
    }
}

@media (max-width: 420px) {
    .slider {
        min-height: 93px;
        background-image: url("../images/slider/background-small.webp");
    }
    .slider__link {
        font-size: 18px;
    }
}