:root {
    --color-pink: #F7A1A8;
    --color-brown: #433840;
    --color-gray: #9A9A9A;
    --color-blue: #C9E3F4;
    --color-olive: #DFEEB6;
    --color-white: #FFF;

    --font-family-sunrise: "Waiting for the Sunrise", Arial, cursive, sans-serif;
    --font-family-quicksand: Quicksand, Arial, sans-serif;

}